

button#check_b {
    /* border: 1px solid #CFD6E6; */
    /* background-color: #F5F6F7; */
    font-variant: small-caps;
    /* padding: 8px; */
}
#aoa {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: black;
}
#checkmark {
    margin-top: -20%;
    margin-bottom: -20%;
    font-size: 180%;
    font-weight: bolder;
    font-family: serif;
    display: block;
    text-align: right;
    width: 100%;
    color: #729FCF;
}
/* TODO: make an SVG instead, like quill? */
/* .ql-check { */
/*   background: no-repeat scroll 50% 50% transparent !important; */
/*   background-image: url("attachment.svg") !important; */
/*   text-align: center; */
/* } */
/* .ql-check:hover { */
/*   background-image: url("attachment-hover.svg") !important */
/* } */

.ql-check::after {
    content: "✓";
    display: inline-block;
    width: 100%;
    border-bottom: 2px dotted green;
    font-size: larger;
    margin-top: -1em;
}

button.loading-check::after {
    display: none;
}
.ql-snow button.loading-check,
button.loading-check {
    padding: 5px;
}


.error {
    cursor: pointer;
    position: relative;
}
.error::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0%;
    top: 100%;
    border-bottom: 2px dotted blue;
}
.error-red::after { border-bottom: 2px dotted red; }
.error-green::after { border-bottom: 2px dotted green; }
.error-pink::after { border-bottom: 2px dotted #f7a; }

@supports (text-decoration-style: wavy) {
    .ql-check::after,
    .error {
        -webkit-text-decoration-color: blue;
        -webkit-text-decoration-line: underline;
        -webkit-text-decoration-style: wavy;
        text-decoration-color: blue;
        text-decoration-line: underline;
        text-decoration-style: wavy;
    }
    .ql-check::after,
    .error::after,
    .error-red::after,
    .error-green::after,
    .error-pink::after {
        border-bottom: none;
    }
    .error-red {
        -webkit-text-decoration-color: red;
        text-decoration-color: red;
    }
    .ql-check::after,
    .error-green {
        -webkit-text-decoration-color: green;
        text-decoration-color: green;
    }
    .error-pink {
        -webkit-text-decoration-color: #f7a;
        text-decoration-color: #f7a;
    }
}

#repmenu {
    font-size: 92%;
    position: absolute;
    /* js sets these: */
    /* left: 221.5px; */
    /* top: 330px; */
    z-index: 200000;
    outline: 0px none;
    /* presumably js class for this one: */
    display: block;
    /* js sets these? */
    width: 170px;
    min-height: 91px;           /* TODO set in js? other better solution? */
}
#repmenu_co {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
    direction: ltr;
}
#repmenu_tbl {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #D4D0C8;
}
#repmenu_tbl td, .repmenu_nonfirst {
    vertical-align: middle;
    padding-left: 2%;
}

.repmenu_msg {
    background-color: #eee;
    padding: 2px;
    border-bottom: 1px solid #D4D0C8;
    font-weight: bold;
}
.repmenu_nonfirst:hover {
    background-color: #abc;
}
.repmenu_rep, .repmenu_rep td, .repmenu_rep a,
.repmenu_rep, .repmenu_rep td, .repmenu_rep a {
    cursor: pointer;
}

.repmenu_ign {
    border-top: 1px solid #D4D0C8;
    font-style: italic;
}

.repmenu_ign,
.repmenu_rep {
    text-align: left;
}

.hl-space {
    background-color: #EFEFEF;
}

#editor-wrapper {
    margin: 1em 0;
}
#editor {
    min-height: 150px;
    max-height: 500px;
    overflow-y: hidden;
}
.ql-editor {
    overflow-y: scroll;
    max-height: 500px;          /* minus toolbar though? */
}

.blur {
    -webkit-filter : blur(1px) grayscale(100%);
    -moz-filter    : blur(1px) grayscale(100%);
    -o-filter      : blur(1px) grayscale(100%);
    -ms-filter     : blur(1px) grayscale(100%);
    filter         : blur(1px) grayscale(100%);
    opacity: 0.5;
}

.container-fluid {
    text-align: center;
    margin: 1em;
}

.block-view {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

#logout {
    text-align: right;
}

#loginform,
#serverfault {
    /* hide initially; js calls show() if there is a message: */
    display: none;
    background-color: white;
    border: 1px solid #D4D0C8;
    margin: 1em;
    padding: 1em;
}
#serverfault {
    font-style: italic;
}
#serverfault div {
    margin: 1em;
    font-family: monospace;
}


.loading {
    background-color: #f2f2f2;
}


.glyphicon.spinning {
    -webkit-animation: spinw 1s infinite linear;
    -moz-animation: spinm 1s infinite linear;
    -o-animation: spino 1s infinite linear;
    animation: spin 1s infinite linear;
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinm {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-o-keyframes spino {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
