/* indent-tabs-mode: nil; tab-width: 4; */

* {
    font-family: Times, serif;
    color: #444;
}
body, html, button {
    padding: 2%;
}

#outer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
}

div#form {
    border: thin dotted red;
    padding: 1%;
    margin: 5%;
    min-height: 7em;
}

.error {
    text-decoration: underline wavy red;
    cursor: pointer;
}

#suggmenu {
    position: absolute;
    /* js sets these: */
    /* left: 221.5px; */
    /* top: 330px; */
    z-index: 200000;
    outline: 0px none;
    /* presumably js class for this one: */
    display: block;
    /* js sets these? */
    width: 170px;
    height: 91px;
    background-color: white;
}

.suggmenu_title {
    background-color: #eee;
}
.suggmenu_nonfirst:hover {
    background-color: cyan;
}
.suggmenu_nonfirst {
    padding-left: 2%;
    cursor: pointer;
}
