

.error {
    cursor: pointer;
    position: relative;
}
.error::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0%;
    top: 100%;
    border-bottom: 2px dotted blue;
}
.error-red::after { border-bottom: 2px dotted red; }
.error-green::after { border-bottom: 2px dotted green; }
.error-pink::after { border-bottom: 2px dotted #f7a; }

@supports (text-decoration-style: wavy) {
    .ql-check::after,
    .error {
        -webkit-text-decoration-color: blue;
        -webkit-text-decoration-line: underline;
        -webkit-text-decoration-style: wavy;
        text-decoration-color: blue;
        text-decoration-line: underline;
        text-decoration-style: wavy;
    }
    .ql-check::after,
    .error::after,
    .error-red::after,
    .error-green::after,
    .error-pink::after {
        border-bottom: none;
    }
    .error-red {
        -webkit-text-decoration-color: red;
        text-decoration-color: red;
    }
    .ql-check::after,
    .error-green {
        -webkit-text-decoration-color: green;
        text-decoration-color: green;
    }
    .error-pink {
        -webkit-text-decoration-color: #f7a;
        text-decoration-color: #f7a;
    }
}

#repmenu {
    font-size: 92%;
    position: absolute;
    /* js sets these: */
    /* left: 221.5px; */
    /* top: 330px; */
    z-index: 200000;
    outline: 0px none;
    /* presumably js class for this one: */
    display: block;
    /* js sets these? */
    width: 170px;
    min-height: 91px;           /* TODO set in js? other better solution? */
}
#repmenu_co {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
    direction: ltr;
}
#repmenu_tbl {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #D4D0C8;
}
#repmenu_tbl td, .repmenu_nonfirst {
    vertical-align: middle;
    padding-left: 2%;
}

.repmenu_msg {
    background-color: #eee;
    padding: 2px;
    border-bottom: 1px solid #D4D0C8;
    font-weight: bold;
}
.repmenu_nonfirst:hover {
    background-color: #abc;
}
.repmenu_rep, .repmenu_rep td, .repmenu_rep a,
.repmenu_rep, .repmenu_rep td, .repmenu_rep a {
    cursor: pointer;
}

.repmenu_ign {
    border-top: 1px solid #D4D0C8;
    font-style: italic;
}

.repmenu_ign,
.repmenu_rep {
    text-align: left;
}

.hl-space {
    background-color: #EFEFEF;
}
